version: '3.9'

services:
  speed-dating-backend:
    build:
      context: .
    command: gunicorn --bind 0.0.0.0:8000 YouveGotMail.wsgi:application
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.speed-dating-backend.rule=Host(`speed-dating.your-domain.dev`) && (PathPrefix(`/api`) || PathPrefix(`/admin`) || PathPrefix(`/static`))"
      - "traefik.http.routers.speed-dating-backend.entrypoints=websecure"
      - "traefik.http.routers.speed-dating-backend.tls.certresolver=letsencrypt"
      - "traefik.http.routers.speed-dating-backend.priority=100"
      - "traefik.http.services.speed-dating-backend.loadbalancer.server.port=8000"
    networks:
      - web-public

  speed-dating-frontend:
    build:
      context: ./frontend
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.speed-dating-frontend.rule=Host(`your-domain.dev`)"
      - "traefik.http.routers.speed-dating-frontend.entrypoints=websecure"
      - "traefik.http.routers.speed-dating-frontend.tls.certresolver=letsencrypt"
      - "traefik.http.services.speed-dating-frontend.loadbalancer.server.port=3000"
    networks:
      - web-public

networks:
  web-public:
    external: true